
<div id="<%= dom_id invesment %>" class='invesment-item'>
  <%= turbo_frame_tag "invesment" do %>
    <p>Name: <%= invesment.name %></p>
    <p>Description: <%= invesment.description %></p>
    <p>Capital: <%= invesment.capital.format %></p>
    <p>Created At: <%= invesment.created_at %></p>

    <p>
      <%= link_to "Show this invesment", user_invesment_path(invesment), "data-turbo": "false" %>
      <%= link_to "Edit this invesment", edit_user_invesment_path(invesment) %>
    </p>
  <% end %>
</div>

