<div id="<%= dom_id invesment %>" class='mb-3 col-12 col-md-6 pr-0' style="padding-right: 0px;">
  <div class="card card-header-actions">
    <%= turbo_frame_tag "invesment" do %>
      <div class="card-header">
        <a href="<%= user_invesment_path(invesment) %>" data-turbo="false">
          <b><%= invesment.name.upcase %></b>
        </a>

        <div><%= link_to 'Edit', edit_user_invesment_path(invesment) %></div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-12 col-md-6'>
            <b>Current Value:</b>
            <span class="<%= profit_class(invesment) %>"><%= invesment.current_value&.format %></span>
          </div>
          <div class='col-12 col-md-6'>
            <b>Capital:</b> <%= invesment.current_capital.format %>
          </div>
          <div class='col-12 col-md-6'>
            <b>Profit:</b>
            <span class="<%= profit_class(invesment) %>"><%= invesment.profit_amount.format %> (<%= invesment.profit_percentage %> %)</span>
          </div>
        </div>

        <hr>

        <div class='row'>
        </div>

        <%= turbo_frame_tag 'invesment_new_value' do %>
          <%= link_to 'Log current value', new_user_invesment_value_history_path(invesment_id: invesment.id) %>
        <% end %>

        <%= turbo_frame_tag 'invesment_new_transaction' do %>
          <%= link_to 'Deposit', new_user_transaction_path(target_id: invesment.id) %> |
          <%= link_to 'Withdraw', new_user_transaction_path(source_id: invesment.id) %> |
        <% end %>
      </div>
    <% end %>
  </div>
</div>
