<div id="<%= dom_id invesment %>" class='mb-3 col-12 col-md-6'>
  <div class="card card-header-actions">
    <%= turbo_frame_tag "invesment" do %>
      <div class="card-header">
        <a href="<%= user_invesment_path(invesment) %>" data-turbo="false">
          <b><%= invesment.name.upcase %></b>
        </a>

        <div><%= link_to 'Edit', edit_user_invesment_path(invesment) %></div>
      </div>
      <div class="card-body">
        <p class="card-title">
          <b>Current Value:</b> <%= invesment.current_value&.format %> | <b>Capital:</b> <%= invesment.current_capital.format %>
        </p>

        <hr>

        <div class='row'>
          <div class='col-6'>
            <h3>Recent Value History:</h3>
            <ul id="<%= dom_id invesment %>-value_histories">
              <%= render partial: 'user/value_histories/value_history',
                collection: invesment.value_histories.newest.last_5, as: :value_history %>
            </ul>
          </div>

          <div class='col-6'>
            <h3>Recent Transactions:</h3>
            <ul id="<%= dom_id invesment %>-transactions">
              <%= render partial: 'user/transactions/transaction',
                collection: invesment.transactions(3), as: :transaction %>
            </ul>
          </div>
        </div>

        <%= turbo_frame_tag 'invesment_new_value' do %>
          <%= link_to 'Log current value', new_user_invesment_value_history_path(invesment_id: invesment.id) %> |
        <% end %>

        <%= turbo_frame_tag 'invesment_new_transaction' do %>
          <%= link_to 'Deposit', new_user_transaction_path(target_id: invesment.id) %> |
          <%= link_to 'Withdraw', new_user_transaction_path(source_id: invesment.id) %> |
        <% end %>
      </div>
    <% end %>
  </div>
</div>
