<p style="color: green"><%= notice %></p>

<h1>Invesments</h1>

<%= turbo_frame_tag "new_invesment" do %>
  <%= link_to "New invesment", new_user_invesment_path %>
<% end %>

<%= turbo_frame_tag "invesments" do %>
  <div id="invesments">
    <% @invesments.each do |invesment| %>
      <%= render invesment %>
    <% end %>
  </div>
<% end %>
