<section class="bg-white">
  <div class="container px-1 px-md-5">
    <div class="row">

      <div class="card mb-3">
        <div class="card-body">
          <h1>Summerize data</h1>

          <div id="summerize_<%= dom_id current_user %>">
            <%= render 'summarize', chart_data: @chart_data %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container px-1 px-md-5">
    <div class="row">

      <div class="card mb-3">
        <div class="card-body">
          <%= turbo_frame_tag "new_invesment", class: 'row' do %>
            <%= link_to "New invesment", new_user_invesment_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container px-1 px-md-5">
    <div class="row">
      <%= turbo_frame_tag "invesments", class: 'row' do %>
        <% @invesments.each do |invesment| %>
          <%= render invesment %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
