<section class="bg-white">
  <div class="container px-1 px-md-5">
    <div class="row px-2">
      <div class="card mb-3">
        <div class="card-body">
          <h1><%= @invesment.name %></h1>

          <div class='row'>
            <div class='col-12 col-md-6'>
              <b>Current Value:</b>
              <span class="<%= profit_class(@invesment) %>"><%= @invesment.current_value&.format %></span>
            </div>
            <div class='col-12 col-md-6'>
              <b>Capital:</b> <%= @invesment.current_capital.format %>
            </div>
            <div class='col-12 col-md-6'>
              <b>Profit:</b>
              <span class="<%= profit_class(@invesment) %>"><%= @invesment.profit_amount.format %> (<%= @invesment.profit_percentage %> %)</span>
            </div>
          </div>

          <hr />

          <div class='row mt-3'>
            <div class='col-12 col-md-6'>
              <h3>Value History chart</h3>
              <%= column_chart(@chart_data[:value_chart], thousands: ",", prefix: '₫ ') %>
            </div>
            <div class='col-12 col-md-6'>
              <h3>Profit chart</h3>
              <%= line_chart @chart_data[:profit_chart], suffix: "%" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container px-1 px-md-5">
    <div class="row">
      <div class='mb-3 col-12 col-md-6 pl-0'>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Values History</h3>

            <%= turbo_frame_tag 'value_list', src: user_invesment_value_histories_path(invesment_id: @invesment.id) %>
          </div>
        </div>
      </div>

      <div class='mb-3 col-12 col-md-6 pr-0'>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Transactions</h3>

            <%= turbo_frame_tag 'transaction_list', src: user_transactions_path(invesment_id: @invesment.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>