<p style="color: green"><%= notice %></p>

<div>
  <p>Name: <%= @invesment.name %></p>
  <p>Description: <%= @invesment.description %></p>
  <p>Current Capital: <%= @invesment.current_capital.format %></p>
  <p>Current Value: <%= @invesment.current_value&.format %></p>
  <p>Created At: <%= @invesment.created_at %></p>
</div>

<div>
  <%= link_to "Edit this invesment", edit_user_invesment_path(@invesment) %> |
  <%= link_to "Back to invesments", user_invesments_path %>

  <%= button_to "Destroy this invesment", user_invesment_path(@invesment), method: :delete %>
</div>
